@using DesignPattern.Mediator.MediatorPattern.Results
@model List<GetAllProductQueryResult>


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyatı</th>
            <th>Stok Sayısı</th>
            <th>Stok Türü</th>
            <th>Kategorisi</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductStockType</td>
                <td>@item.ProductCategory</td>
                <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-outline-danger">SİL</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Product/GetProduct/@item.ProductID" class="btn btn-info">Detaylar</a></td>        
               
            </tr>
        }
    </tbody>
</table>
<a href="/Product/AddProduct/" class="btn btn-outline-secondary">Ürün Ekle</a>